* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL BACKGROUND */
body {
    background-color: #fed7ad;
    width: 100%;
}

/* NAVBAR */
#navbar {
    height: 8vh;
    width: 100%;
    border: 2px solid black;
    background-color: #fed7ad;
}

/* COMMON SECTION STYLE */
section {
    width: 100%;
    border: 2px solid black;
    background-color: #fed7ad;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HERO SECTION */
#hero {
    height: 100vh;
    justify-content: space-around;
}

.heroLeft {
    width: 55%;
    height: 400px;
    border: 2px solid black;
    background-color: #fed7ad;
}

.heroRight {
    width: 35%;
    height: 400px;
    border: 2px solid black;
    background-color: #fed7ad;
}

/* ABOUT SECTION */
#about {
    height: 100vh;
    justify-content: space-around;
}

.aboutImg {
    width: 35%;
    height: 400px;
    border: 2px solid black;
    background-color: #fed7ad;
}

.aboutData {
    width: 55%;
    height: 400px;
    border: 2px solid black;
    background-color: #fed7ad;
}

/* PROJECT SECTION */
#projectSection {
    height: 100vh;
    background-color: #fed7ad;
}

.projectGrid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.projects {
    height: 180px;
    border: 2px solid black;
    background-color: #fed7ad;
}

/* FOOTER */
#footer {
    height: 30vh;
    width: 100%;
    border: 2px solid black;
    background-color: #fed7ad;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    #hero,
    #about {
        flex-direction: column;
    }

    .heroLeft,
    .heroRight,
    .aboutImg,
    .aboutData {
        width: 90%;
    }

    .projectGrid {
        grid-template-columns: 1fr;
    }
}
